body{
    font-family: 'Source Sans Pro', sans-serif;
}

.btntop{
    color: #0d6efd;
    background-color:white;
    box-shadow: 5px 5px 10px 2px rgba(224, 215, 215, 0.8);
    border-style:hidden;
    border-radius: 1rem;
    margin: 0.4rem;
}

.titletext{
    color: #23374D;
    font-size: 60px;
    font-weight:700;
    /* display: flex; */
    margin-left: 350px;
}

.paycon{
     position:absolute;
}

.pbox{
    padding-top: 1rem;
    height: 10cm;
    width: 9cm;
    border-radius: 2.5rem;
    background-color: #ECECEC;
    /* display: flex; */
    /* position: absolute; */
    margin-top: 0px;

}

.pbtext{
    margin: 2.5rem;
    font-size: large;
    color: #23374D;
}

.paypal{
    padding: 1rem;
}

.mianimg{
    height: 35px;
    width: 110px;
}

.btn{
    padding: 0.4rem;
    border-radius: 2rem;
    margin-top: 1rem;
}

.timg{

/* float: right; */
/* width: 500px; */
/* position: absolute; */
/* display: flex; */
margin-left: 100px;
/* background-color: red; */
}

.footr{
   
   /* list-style-type: none; */
   /* display: inline-block; */

   /* float: left; */
}

.fopt{
    text-decoration: none;
    font-size: large;
}

.endlink{
    list-style-type: none;
    display: inline;
    padding: 0.4rem;
    text-align: right;

}

.fimg{
    height: 25px;
    width: 25px;
    padding: 0.1rem;

}
.logo{
    margin-left: 60px;
    /* position: fixed; */
}

.logo1{
    margin-left: 200px;
}

.maincon{
    /* display: flex; */
    /* background-color: yellow; */
    /* position:relative; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.combine{
    /* background-color: #0d6efd; */
    /* flex-direction: column; */
    display: flex;
    justify-content: center;

}

.navB{
    /* float: right; */
    /* text-align: center; */
    height: 50px;
    width: 100%;
    /* position:absolute; */
    display:flex;
    align-items:center;
    justify-content: center;
    /* margin-left: 200px; */
    /* background-color: violet; */

}

.ftr{
    /* float: right; */
    /* text-align: center; */
    height: 50px;
    width: 100%;
    /* position:absolute; */
    display:flex;
    align-items:center;
    justify-content: center;
    /* margin-left: 500px; */
    /* background-color: chartreuse; */
}

.collapse_navbar-collapse{
    margin-left: 275px;
    padding: 0.4rem;

}
